lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.lock.json
*.tgz

publish
.vscode
.idea
.vs

pids
logs
results

node_modules
npm-debug.log
build

bin/
obj/
*.user
*.suo
packages/*
_ReSharper*
src/*.sln
src/EdgeJs.vcxproj

Edge.Tests.*
node.exe
Sample105.*

.DS_Store
*.sublime-project
*.sublime-workspace

.cproject
.project
.metadata/
.settings/

adhoc/

*cmake*

package/
tools/build
/src/double/Edge.js/obj/
/src/double/Edge.js/bin/
/src/Debug/
/test/obj/
/test/bin/

package-lock.json

