lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.lock.json
*.tgz

publish
.vscode
.idea
.vs

pids
logs
results

node_modules
npm-debug.log
build

bin/
obj/
*.user
*.suo
packages/*
_ReSharper*
src/*.sln
src/EdgeJs.vcxproj

Edge.Tests.*
node.exe
Sample105.*

.DS_Store
*.sublime-project
*.sublime-workspace

.cproject
.project
.metadata/
.settings/

adhoc/

*cmake*

package/
tools/build

/src/double/Edge.js/obj/
/src/double/Edge.js/bin/
/src/double/Edge.js.CSharp/obj/
/src/double/Edge.js.CSharp/bin/
/src/double/Edge.js/*.sln
/src/double/Edge.js.CSharp/*.sln
/src/Debug/

/test/obj/
/test/bin/
/test/Properties/
/test/test.nuget.cache

tools/nuget/content
tools/nuget/lib
tools/nuget/*.nupkg
tools/nuget/*.zip
tools/*.nupkg
tools/*.zip
tools/nuget.exe

*test-results*.*
TemporaryGeneratedFile*.*
/lib/native/win32/ia32/*/concrt140.dll
/lib/native/win32/ia32/*/msvcp140.dll
/lib/native/win32/ia32/*/vccorlib140.dll
/lib/native/win32/ia32/*/vcruntime140.dll

/lib/native/win32/x64/*/concrt140.dll
/lib/native/win32/x64/*/msvcp140.dll
/lib/native/win32/x64/*/vccorlib140.dll
/lib/native/win32/x64/*/vcruntime140.dll

/lib/native/win32/arm64/*/concrt140.dll
/lib/native/win32/arm64/*/msvcp140.dll
/lib/native/win32/arm64/*/vccorlib140.dll
/lib/native/win32/arm64/*/vcruntime140.dll

test/mochawesome-report
mochawesome-report
mochawesome.json

release

