language: node_js

os:
  - osx

node_js:
 - "14.3.0"
 - "13.0.1"
 - "12.13.0"
 - "10.14.0"

install:
 - curl -sSL -k -o osx-net-core.pkg https://download.visualstudio.microsoft.com/download/pr/59a7b78f-4e86-473b-b230-c84d15505cec/766e3e5f35e7bb9677dd785071c5fbf7/dotnet-sdk-2.1.500-osx-x64.pkg
 - sudo installer -pkg osx-net-core.pkg -target /
 - export PATH=/usr/local/share/dotnet:$PATH
 - npm install -q

script:
 - dotnet --version
 - EDGE_USE_CORECLR=1 npm test
