image:
  # - Visual Studio 2015
  - Ubuntu2204
  - macos-monterey

environment:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  matrix:
    # node.js
    - nodejs: "21"
    # - nodejs: "20"
    # - nodejs: "18"
    # - nodejs: "16"

install:
  - sh: if [ "$APPVEYOR_BUILD_WORKER_IMAGE" = 'Ubuntu2204' ]; then sudo apt-get -qq update && sudo apt-get -y -qq install build-essential libgconf-2-4 python3 libglib2.0-dev; fi
  - cmd: powershell .\appveyor.ps1  
  - cmd: powershell Update-NodeJsInstallation (Get-NodeJsLatestBuild $env:nodejs) x64
  - sh: nvm ls
  - sh: nvm install $nodejs
  - sh: nvm use $nodejs
  - cmd: node -v && npm -v && dotnet --version
  - sh: node -v && npm -v && dotnet --version
  - npm install -q
  - cmd: npm i -q  xunit-viewer >nul
  - sh: npm i xunit-viewer --silent &> /dev/null

test_script:

  - cmd: node tools/test_ci.js
  - cmd: SET EDGE_USE_CORECLR=1 & node tools/test_ci.js
  - sh: EDGE_USE_CORECLR=1 node tools/test_ci.js

after_test:
  - ps: |
      $url = "https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)"
      $file = '.\test-results.xml'
      (New-Object 'System.Net.WebClient').UploadFile($url, (Resolve-Path '.\test-results.xml'))
      Push-AppveyorArtifact (Resolve-Path '.\test-results.xml')
      Push-AppveyorArtifact (Resolve-Path '.\mochawesome.json')

skip_commits:
  files:
    - samples/*
    - stress/*
    - performance/*
    - .github/*
    - .github/**/*
    - '**/*.md'
    - '**/*.d.ts'
    - '**/*.bat'
    - '.travis.yml'
    - 'Dockerfile'
    - 'README.md'
    - 'LICENSE*'
    - '.idea/**'
    - '.vscode/**'

build: off